@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  background-color: #F7FAFC;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @apply cursor-default antialiased bg-white text-black dark:text-white dark:bg-gray-800;
}

::-webkit-scrollbar {
  width: 1em;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  border: 4px solid transparent;
  border-radius: 100px;
  background-color: #cacaca;
  background-clip: content-box;
}

::-webkit-scrollbar-corner,
.dark ::-webkit-scrollbar-corner {
  background: #1F2937;
}

.light ::-webkit-scrollbar-corner {
  background: #fff;
}

.dark ::-webkit-scrollbar-track {
  background-color: #1F2937;
  border-radius: 0px;
}

.dark ::-webkit-scrollbar-thumb {
  background-color: #121212;
}

.prose {
  max-width: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-semibold;
}

p {
  @apply text-sm;
  @apply leading-6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  white-space: pre-wrap;
  word-break: break-all;
  font-size: 0.8em;
}

a {
  @apply text-blue-600;
}

.cm-editor {
  height: 100%
}

.Í¼1 .cm-content {
  padding: 0;
}
